<section class="card">
    <!-- The contents of this card links to the dashboard page using the post ID -->
    <a href="/post/{{id}}">
        <span>{{name}}</span>
        <span>{{date_created}}</span>
    </a>
</section>